# Importing Data and basic operations with Dataframes

Content:

- An introduction to R Data Frames
- Functions and packages used to import data
- Introduction to **dplyr**
- Merging, joining DataFrames

## An introduction to R Data Frames

- R's data frames are used to store data in rows and columns.
- Share many of the properties of [matrices](https://www.tutorialspoint.com/r/r_matrices.htm) and of [lists](https://data-flair.training/blogs/r-list-tutorial/).
- used as the fundamental data structure by most of R's modeling software.
- They can store objects of different type: numeric, character, etc.
    - Different to matrices in which all elements must be numeric.


In practice, data frames are loaded or created from reading other sources like csv/excel files or databases, but we can create a small example to start becoming familiar. We use the `data.frame` function:

In [27]:
x <- data.frame(Videogame = c("FIFA", "Fall Guys", "LOL", "Mario Bros"), Age = c(28, 22, 18, 30))
x

  Videogame  Age
1 FIFA       28
2 Fall Guys  22
3 LOL        18
4 Mario Bros 30

In [28]:
class(x)

[1] "data.frame"

We can get the dimensions of the dataframe with `dim`, `nrow` and `ncol`:

In [29]:
dim(x)  # returns the number of rows (observations) and columns (variables)

[1] 4 2

In [30]:
nrow(x)

[1] 4

In [31]:
ncol(x)

[1] 2

In [32]:
length(x)  # returns the number of columns (variables)

[1] 2

### Selecting data

We can select data with `$` or `[]`. Notice the data is returned in different types:

In [36]:
x$Videogame

[1] "FIFA"       "Fall Guys"  "LOL"        "Mario Bros"

In [38]:
class(x$Videogame)

[1] "character"

In [42]:
x$Videogame[1:2]

[1] "FIFA"      "Fall Guys"

In [40]:
x[1]

  Videogame
1 FIFA
2 Fall Guys
3 LOL
4 Mario Bros

We can add columns to our data frame:

In [44]:
x$id = 1:4
x

  Videogame  Age id
1 FIFA       28  1
2 Fall Guys  22  2
3 LOL        18  3
4 Mario Bros 30  4

We can use the `cbind` function to append columns to our data:

In [47]:
samples <- 1:4
x <- cbind(x, samples)
x

  Videogame  Age id samples
1 FIFA       28  1  1
2 Fall Guys  22  2  2
3 LOL        18  3  3
4 Mario Bros 30  4  4

#### A note about tidy data

In [tidy data](https://r4ds.had.co.nz/tidy-data.html):

- Every column is a variable.
- Every row is an observation.
- Every cell is a single value.

## Functions and packages used to import data

There are different ways to import data into our workspace, for more information you can go [here](https://www.uv.es/pjperez/curso_R/tt_3_cargar_datos_v4.html).

As a first case, R already comes with some pre-loaded datasets. To get a list of these we used the `data()` function:

In [54]:
data()

Data sets in package ‘datasets’:

AirPassengers           Monthly Airline Passenger Numbers 1949-1960
BJsales                 Sales Data with Leading Indicator
BJsales.lead (BJsales)
                        Sales Data with Leading Indicator
BOD                     Biochemical Oxygen Demand
CO2                     Carbon Dioxide Uptake in Grass Plants
ChickWeight             Weight versus age of chicks on different diets
DNase                   Elisa assay of DNase
EuStockMarkets          Daily Closing Prices of Major European Stock
                        Indices, 1991-1998
Formaldehyde            Determination of Formaldehyde
HairEyeColor            Hair and Eye Color of Statistics Students
Harman23.cor            Harman Example 2.3
Harman74.cor            Harman Example 7.4
Indometh                Pharmacokinetics of Indomethacin
InsectSprays            Effectiveness of Insect Sprays
JohnsonJohnson          Quarterly Earnings per Johnson & Johnson Share
LakeHuron               Level of Lake Huron 1875-1972
LifeCycleSavings        Intercountry Life-Cycle Savings Data
Loblolly                Growth of Loblolly pine trees
Nile                    Flow of the River Nile
Orange                  Growth of Orange Trees
OrchardSprays           Potency of Orchard Sprays
PlantGrowth             Results from an Experiment on Plant Growth
Puromycin               Reaction Velocity of an Enzymatic Reaction
Seatbelts               Road Casualties in Great Britain 1969-84
Theoph                  Pharmacokinetics of Theophylline
Titanic                 Survival of passengers on the Titanic
ToothGrowth             The Effect of Vitamin C on Tooth Growth in
                        Guinea Pigs
UCBAdmissions           Student Admissions at UC Berkeley
UKDriverDeaths          Road Casualties in Great Britain 1969-84
UKgas                   UK Quarterly Gas Consumption
USAccDeaths             Accidental Deaths in the US 1973-1978
USArrests               Violent Crime Rates by US State
USJudgeRatings          Lawyers' Ratings of State Judges in the US
                        Superior Court
USPersonalExpenditure   Personal Expenditure Data
UScitiesD               Distances Between European Cities and Between
                        US Cities
VADeaths                Death Rates in Virginia (1940)
WWWusage                Internet Usage per Minute
WorldPhones             The World's Telephones
ability.cov             Ability and Intelligence Tests
airmiles                Passenger Miles on Commercial US Airlines,
                        1937-1960
airquality              New York Air Quality Measurements
anscombe                Anscombe's Quartet of 'Identical' Simple Linear
                        Regressions
attenu                  The Joyner-Boore Attenuation Data
attitude                The Chatterjee-Price Attitude Data
austres                 Quarterly Time Series of the Number of
                        Australian Residents
beaver1 (beavers)       Body Temperature Series of Two Beavers
beaver2 (beavers)       Body Temperature Series of Two Beavers
cars                    Speed and Stopping Distances of Cars
chickwts                Chicken Weights by Feed Type
co2                     Mauna Loa Atmospheric CO2 Concentration
crimtab                 Student's 3000 Criminals Data
discoveries             Yearly Numbers of Important Discoveries
esoph                   Smoking, Alcohol and (O)esophageal Cancer
euro                    Conversion Rates of Euro Currencies
euro.cross (euro)       Conversion Rates of Euro Currencies
eurodist                Distances Between European Cities and Between
                        US Cities
faithful                Old Faithful Geyser Data
fdeaths (UKLungDeaths)
                        Monthly Deaths from Lung Diseases in the UK
freeny                  Freeny's Revenue Data
freeny.x (freeny)       Freeny's Revenue Data
freeny.y (freeny)       Freeny's Revenue Data
infert                  Infertility after Spontaneous and Induced
                        Abortion
iris                    Edgar Anderson's Iris Data
iris3                   Edgar Anderson's Iris Data
islands                 Areas of the World's Major Landmasses
ldeaths (UKLungDeaths)
                        Monthly Deaths from Lung Diseases in the UK
lh                      Luteinizing Hormone in Blood Samples
longley                 Longley's Economic Regression Data
lynx                    Annual Canadian Lynx trappings 1821-1934
mdeaths (UKLungDeaths)
                        Monthly Deaths from Lung Diseases in the UK
morley                  Michelson Speed of Light Data
mtcars                  Motor Trend Car Road Tests
nhtemp                  Average Yearly Temperatures in New Haven
nottem                  Average Monthly Temperatures at Nottingham,
                        1920-1939
npk                     Classical N, P, K Factorial Experiment
occupationalStatus      Occupational Status of Fathers and their Sons
precip                  Annual Precipitation in US Cities
presidents              Quarterly Approval Ratings of US Presidents
pressure                Vapor Pressure of Mercury as a Function of
                        Temperature
quakes                  Locations of Earthquakes off Fiji
randu                   Random Numbers from Congruential Generator
                        RANDU
rivers                  Lengths of Major North American Rivers
rock                    Measurements on Petroleum Rock Samples
sleep                   Student's Sleep Data
stack.loss (stackloss)
                        Brownlee's Stack Loss Plant Data
stack.x (stackloss)     Brownlee's Stack Loss Plant Data
stackloss               Brownlee's Stack Loss Plant Data
state.abb (state)       US State Facts and Figures
state.area (state)      US State Facts and Figures
state.center (state)    US State Facts and Figures
state.division (state)
                        US State Facts and Figures
state.name (state)      US State Facts and Figures
state.region (state)    US State Facts and Figures
state.x77 (state)       US State Facts and Figures
sunspot.month           Monthly Sunspot Data, from 1749 to "Present"
sunspot.year            Yearly Sunspot Data, 1700-1988
sunspots                Monthly Sunspot Numbers, 1749-1983
swiss                   Swiss Fertility and Socioeconomic Indicators
                        (1888) Data
treering                Yearly Treering Data, -6000-1979
trees                   Diameter, Height and Volume for Black Cherry
                        Trees
uspop                   Populations Recorded by the US Census
volcano                 Topographic Information on Auckland's Maunga
                        Whau Volcano
warpbreaks              The Number of Breaks in Yarn during Weaving
women                   Average Heights and Weights for American Women

Use ‘data(package = .packages(all.available = TRUE))’
to list the data sets in all *available* packages.

For example to load the Air Passengers data set we would do the following:

In [55]:
data(AirPassengers)

In [56]:
AirPassengers

     Jan Feb Mar Apr May Jun Jul Aug Sep Oct Nov Dec
1949 112 118 132 129 121 135 148 148 136 119 104 118
1950 115 126 141 135 125 149 170 170 158 133 114 140
1951 145 150 178 163 172 178 199 199 184 162 146 166
1952 171 180 193 181 183 218 230 242 209 191 172 194
1953 196 196 236 235 229 243 264 272 237 211 180 201
1954 204 188 235 227 234 264 302 293 259 229 203 229
1955 242 233 267 269 270 315 364 347 312 274 237 278
1956 284 277 317 313 318 374 413 405 355 306 271 306
1957 315 301 356 348 355 422 465 467 404 347 305 336
1958 340 318 362 348 363 435 491 505 404 359 310 337
1959 360 342 406 396 420 472 548 559 463 407 362 405
1960 417 391 419 461 472 535 622 606 508 461 390 432

### Reading tabular data

We can import data in CSV format:

In [60]:
library(readr)

nsfg_df <- read_csv("../data/nsfg/nsfg_2002_2019.csv")
nsfg_df

We can see the first or last rows of the dataset:

In [4]:
head(nsfg_df)

  caseid age_a marstat reldlife religion samesex intvwyear lifprtnr timesmar
1 80717  31    2       NA       1        1       2018      15       NA
2 80721  17    6        2       3        2       2018       1       NA
3 80722  16    6       NA       1        2       2019       2       NA
4 80724  49    4        2       4        3       2019      50        2
5 80732  39    6       NA       1        1       2019       0       NA
6 80734  37    1        2       2        2       2018       3        1
  attnd14 fmarit gayadopt lifeprt sxok18 staytog prvntdiv achieve
1 NA      5      NA       NA      NA     NA      NA       NA
2  6      5      NA       NA      NA     NA      NA       NA
3  2      5      NA       NA      NA     NA      NA       NA
4 NA      3      NA       NA      NA     NA      NA       NA
5 NA      5      NA       NA      NA     NA      NA       NA
6 NA      1      NA       NA      NA     NA      NA       NA

In [6]:
head(nsfg_df, 10)

   caseid age_a marstat reldlife religion samesex intvwyear lifprtnr timesmar
1  80717  31    2       NA       1        1       2018      15       NA
2  80721  17    6        2       3        2       2018       1       NA
3  80722  16    6       NA       1        2       2019       2       NA
4  80724  49    4        2       4        3       2019      50        2
5  80732  39    6       NA       1        1       2019       0       NA
6  80734  37    1        2       2        2       2018       3        1
7  80735  17    6        1       3        4       2019       0       NA
8  80736  40    2       NA       1        1       2019      22       NA
9  80738  46    4        2       3        2       2018      30        1
10 80739  40    1       NA       1        1       2019       5        1
   attnd14 fmarit gayadopt lifeprt sxok18 staytog prvntdiv achieve
1  NA      5      NA       NA      NA     NA      NA       NA
2   6      5      NA       NA      NA     NA      NA       NA
3   2      5      NA       NA      NA     NA      NA       NA
4  NA      3      NA       NA      NA     NA      NA       NA
5  NA      5      NA       NA      NA     NA      NA       NA
6  NA      1      NA       NA      NA     NA      NA       NA
7   2      5      NA       NA      NA     NA      NA       NA
8  NA      5      NA       NA      NA     NA      NA       NA
9  NA      3      NA       NA      NA     NA      NA       NA
10 NA      1      NA       NA      NA     NA      NA       NA

In [5]:
tail(nsfg_df)

      caseid age_a marstat reldlife religion samesex intvwyear lifprtnr
72459  2417  21    6        1        3        3      2002       1
72460  1074  15    6        2        3        2      2002       0
72461  8877  37    4        1        3        1      2002       5
72462 11658  28    1       NA        1        4      2002       7
72463  2780  24    4       NA        1        2      2002       5
72464  5758  28    1       NA       NA       NA      2002      NA
      timesmar attnd14 fmarit gayadopt lifeprt sxok18 staytog prvntdiv achieve
72459 NA        3      5       2        1       4      2      NA        3
72460 NA        4      5       3       NA       3      3      NA        2
72461  1       NA      3       4        5       3      1      NA        3
72462  1       NA      1       2        7       2      3      NA        3
72463  1        5      3       4        5       2      2      NA        1
72464  1       NA      1      NA        1      NA     NA      NA       NA

#### More on Selecting Data

We can identify missing values with the `is.na()` function:

In [25]:
nsfg_df[is.na(nsfg_df)[,"reldlife"],]

      caseid age_a marstat reldlife religion samesex intvwyear lifprtnr
1     80717  31    2       NA       1        1       2018      15
3     80722  16    6       NA       1        2       2019       2
5     80732  39    6       NA       1        1       2019       0
8     80736  40    2       NA       1        1       2019      22
10    80739  40    1       NA       1        1       2019       5
11    80740  31    6       NA       1        1       2017       0
14    80746  17    6       NA       1        1       2019       6
19    80757  28    6       NA       1        4       2019       6
20    80758  18    2       NA       1        3       2018      10
21    80759  40    2       NA       1        3       2018      26
22    80762  45    1       NA       1        5       2019      50
24    80767  31    6       NA       1        1       2017      12
27    80771  16    6       NA       1        2       2019       1
28    80774  26    6       NA       1        2       2019       5
31    80780  36    2       NA       1        1       2018       9
32    80781  26    2       NA       1        3       2018      50
33    80782  33    6       NA       1        1       2018       9
39    80794  35    1       NA       1        1       2018       2
40    80798  46    2       NA       1        1       2017       9
44    80809  23    6       NA       1        1       2019       4
48    80814  22    6       NA       1        1       2018       0
54    80825  27    1       NA       1        1       2019       7
55    80835  26    6       NA       1        2       2018       5
59    80841  31    6       NA       1        2       2018      16
60    80844  18    6       NA       1        1       2018       8
62    80846  15    6       NA       1        1       2019       0
63    80850  33    1       NA       1        2       2018      20
68    80856  37    1       NA       1        1       2019       6
70    80860  30    6       NA       1        1       2018       5
71    80861  16    6       NA       1        2       2017       5
⋮     ⋮      ⋮     ⋮       ⋮        ⋮        ⋮       ⋮         ⋮
72327  5512  17    6       NA        1        2      2002       1
72329  6173  41    6       NA        1        1      2002      12
72330  2724  32    6       NA        1        2      2002       4
72331 11121  35    6       NA        1        2      2002      11
72334  5401  23    6       NA        1        4      2002       3
72335  2381  32    1       NA        1        1      2002      13
72337   204  28    6       NA        1        1      2002      16
72341  8873  21    2       NA        1        3      2002       1
72345 11724  43    6       NA        1        1      2002      40
72346  6857  39    1       NA        1        1      2002       5
72347  8056  19    6       NA        1        2      2002       2
72352  9463  40    1       NA        1        2      2002       5
72362  9643  24    1       NA        1        5      2002       6
72363  3030  34    4       NA        1        2      2002      12
72368  7574  19    2       NA        1        1      2002       2
72370  6288  20    6       NA        1        2      2002       2
72372  8794  23    6       NA        1        1      2002       3
72373  6365  17    6       NA        1        2      2002       0
72377  4213  40    5       NA        1        3      2002       4
72380  2954  30    5       NA        1        3      2002       3
72384  6075  17    6       NA        2        2      2002       1
72417  8974  20    6       NA        1        4      2002       0
72423  3359  22    6       NA        1        1      2002       4
72424   527  23    6       NA        1        3      2002      40
72426  3368  27    1       NA        1        2      2002      10
72432  6961  38    2       NA        1        1      2002      29
72435   363  19    6       NA        1        1      2002       6
72462 11658  28    1       NA        1        4      2002       7
72463  2780  24    4       NA        1        2      2002       5
72464  5758  28    1       NA       NA       NA      2002      NA
      timesmar attnd14 fmarit gayadopt lifeprt sxok18 staytog prvntdiv achieve
1     NA       NA      5      NA       NA      NA     NA      NA       NA
3     NA        2      5      NA       NA      NA     NA      NA       NA
5     NA       NA      5      NA       NA      NA     NA      NA       NA
8     NA       NA      5      NA       NA      NA     NA      NA       NA
10     1       NA      1      NA       NA      NA     NA      NA       NA
11    NA       NA      5      NA       NA      NA     NA      NA       NA
14    NA        6      5      NA       NA      NA     NA      NA       NA
19    NA       NA      5      NA       NA      NA     NA      NA       NA
20    NA        3      5      NA       NA      NA     NA      NA       NA
21    NA       NA      5      NA       NA      NA     NA      NA       NA
22     2       NA      1      NA       NA      NA     NA      NA       NA
24    NA       NA      5      NA       NA      NA     NA      NA       NA
27    NA        7      5      NA       NA      NA     NA      NA       NA
28    NA       NA      5      NA       NA      NA     NA      NA       NA
31     1       NA      3      NA       NA      NA     NA      NA       NA
32    NA       NA      5      NA       NA      NA     NA      NA       NA
33    NA       NA      5      NA       NA      NA     NA      NA       NA
39     1       NA      1      NA       NA      NA     NA      NA       NA
40    NA       NA      5      NA       NA      NA     NA      NA       NA
44    NA        6      5      NA       NA      NA     NA      NA       NA
48    NA        2      5      NA       NA      NA     NA      NA       NA
54     1       NA      1      NA       NA      NA     NA      NA       NA
55    NA       NA      5      NA       NA      NA     NA      NA       NA
59    NA       NA      5      NA       NA      NA     NA      NA       NA
60    NA        7      5      NA       NA      NA     NA      NA       NA
62    NA        7      5      NA       NA      NA     NA      NA       NA
63     2       NA      1      NA       NA      NA     NA      NA       NA
68     1       NA      1      NA       NA      NA     NA      NA       NA
70    NA       NA      5      NA       NA      NA     NA      NA       NA
71    NA        3      5      NA       NA      NA     NA      NA       NA
⋮     ⋮        ⋮       ⋮      ⋮        ⋮       ⋮      ⋮       ⋮        ⋮
72327 NA        4      5       2        1       2      3      NA        3
72329 NA       NA      5       1       12       2      2      NA        4
72330 NA       NA      5       1        4       2      3      NA        4
72331 NA       NA      5       1       11       2      3      NA        3
72334 NA        1      5       4        3       4      3      NA        3
72335  1       NA      1       1       13       2      3      NA        3
72337 NA       NA      5       1       16       2      2      NA        4
72341 NA        4      5       2        1       2      3      NA        3
72345 NA       NA      5       1       40       4      4      NA        4
72346  1       NA      1       3        5       3      2      NA        2
72347 NA        4      5       1        2       1      2      NA        4
72352  3       NA      1       2        5       2      3      NA        3
72362  1        3      1       2        6       2      3      NA        3
72363  1       NA      3       2       12       2      2      NA        3
72368 NA        5      5       1        2       2      5      NA        3
72370 NA        2      5       2        2       2      2      NA        4
72372 NA        5      5       1        3       2      2      NA        4
72373 NA        5      5       2       NA       2      2      NA        3
72377  1       NA      4       3        4       3      4      NA        2
72380  1       NA      4       3        3       3      3      NA        3
72384 NA        5      5       1        1       2      2      NA        4
72417 NA        5      5       1       NA       2      3      NA        4
72423 NA        1      5       4        4       2      2      NA        3
72424 NA        5      5       3        7       2      3      NA        2
72426  1       NA      1       2        7       2      1      NA        3
72432  1       NA      3       2        7       3      1      NA        3
72435 NA        5      5       2        6       2      3      NA        2
72462  1       NA      1       2        7       2      3      NA        3
72463  1        5      3       4        5       2      2      NA        1
72464  1       NA      1      NA        1      NA     NA      NA       NA

We can also use the `complete.cases` function to check if each row has any missing value in either of the columns:

In [41]:
x$rating <- c(4, 5, NA, NA)
x

  Videogame  Age rating
1 FIFA       28   4
2 Fall Guys  22   5
3 LOL        18  NA
4 Mario Bros 30  NA

In [43]:
completed <- complete.cases(x)
completed

[1]  TRUE  TRUE FALSE FALSE

In [44]:
x_complete <- x[completed,]
x_complete

  Videogame Age rating
1 FIFA      28  4
2 Fall Guys 22  5

Selecting specific variables (columns):

In [45]:
nsfg_df[, 1:4]

      caseid age_a marstat reldlife
1     80717  31    2       NA
2     80721  17    6        2
3     80722  16    6       NA
4     80724  49    4        2
5     80732  39    6       NA
6     80734  37    1        2
7     80735  17    6        1
8     80736  40    2       NA
9     80738  46    4        2
10    80739  40    1       NA
11    80740  31    6       NA
12    80741  34    6        2
13    80745  32    1        1
14    80746  17    6       NA
15    80748  21    2        1
16    80749  17    6        2
17    80751  25    2        3
18    80753  22    6        3
19    80757  28    6       NA
20    80758  18    2       NA
21    80759  40    2       NA
22    80762  45    1       NA
23    80765  34    6        2
24    80767  31    6       NA
25    80769  39    1        2
26    80770  48    1        1
27    80771  16    6       NA
28    80774  26    6       NA
29    80775  26    1        3
30    80777  29    1        1
⋮     ⋮      ⋮     ⋮       ⋮
72435   363  19    6       NA
72436 10759  39    1        2
72437  4516  39    4        8
72438  8964  43    5        1
72439  4671  21    5        1
72440  2833  42    6        1
72441  6905  41    1        2
72442  7245  38    5        3
72443  1181  18    6        2
72444  7748  29    1        1
72445   988  35    2        2
72446  8670  29    2        2
72447  3665  20    1        2
72448  7876  18    6        1
72449  8630  35    1        2
72450  2782  21    6        1
72451  8829  41    1        1
72452  6139  18    6        2
72453  7879  28    1        1
72454 11427  21    2        2
72455 11640  20    6        2
72456  5515  18    6        1
72457  1551  23    6        1
72458  9358  27    1        1
72459  2417  21    6        1
72460  1074  15    6        2
72461  8877  37    4        1
72462 11658  28    1       NA
72463  2780  24    4       NA
72464  5758  28    1       NA

In [46]:
nsfg_df[, c(1, 3, 6)]

      caseid marstat samesex
1     80717  2       1
2     80721  6       2
3     80722  6       2
4     80724  4       3
5     80732  6       1
6     80734  1       2
7     80735  6       4
8     80736  2       1
9     80738  4       2
10    80739  1       1
11    80740  6       1
12    80741  6       1
13    80745  1       2
14    80746  6       1
15    80748  2       2
16    80749  6       2
17    80751  2       2
18    80753  6       2
19    80757  6       4
20    80758  2       3
21    80759  2       3
22    80762  1       5
23    80765  6       2
24    80767  6       1
25    80769  1       3
26    80770  1       4
27    80771  6       2
28    80774  6       2
29    80775  1       2
30    80777  1       4
⋮     ⋮      ⋮       ⋮
72435   363  6        1
72436 10759  1        2
72437  4516  4        1
72438  8964  5        3
72439  4671  5        1
72440  2833  6        2
72441  6905  1        3
72442  7245  5        2
72443  1181  6        2
72444  7748  1        1
72445   988  2        4
72446  8670  2        1
72447  3665  1        3
72448  7876  6        1
72449  8630  1        2
72450  2782  6        1
72451  8829  1        1
72452  6139  6        3
72453  7879  1        1
72454 11427  2        1
72455 11640  6        2
72456  5515  6        2
72457  1551  6        1
72458  9358  1        1
72459  2417  6        3
72460  1074  6        2
72461  8877  4        1
72462 11658  1        4
72463  2780  4        2
72464  5758  1       NA

Selecting specific observations (rows):

In [47]:
nsfg_df[1:5,]

  caseid age_a marstat reldlife religion samesex intvwyear lifprtnr timesmar
1 80717  31    2       NA       1        1       2018      15       NA
2 80721  17    6        2       3        2       2018       1       NA
3 80722  16    6       NA       1        2       2019       2       NA
4 80724  49    4        2       4        3       2019      50        2
5 80732  39    6       NA       1        1       2019       0       NA
  attnd14 fmarit gayadopt lifeprt sxok18 staytog prvntdiv achieve
1 NA      5      NA       NA      NA     NA      NA       NA
2  6      5      NA       NA      NA     NA      NA       NA
3  2      5      NA       NA      NA     NA      NA       NA
4 NA      3      NA       NA      NA     NA      NA       NA
5 NA      5      NA       NA      NA     NA      NA       NA

Using the `seq()` function to generate a sequence to select rows:

In [54]:
nsfg_df[seq(1,nrow(nsfg_df),100),]

      caseid age_a marstat reldlife religion samesex intvwyear lifprtnr
1     80717  31    2       NA       1        1       2018      15
101   80936  40    1        1       3        4       2019       1
201   81138  36    1        3       3        1       2018       1
301   81356  32    2       NA       1        2       2018      44
401   81576  20    6       NA       1        2       2019       0
501   81846  42    2        2       2        1       2019      12
601   82083  22    1        1       2        4       2018       1
701   82302  36    2        2       3        2       2017      10
801   82502  46    1       NA       1        2       2019      15
901   82712  22    6       NA       1        2       2018       2
1001  82912  41    6        1       3        5       2019      16
1101  83125  17    6       NA       1        2       2019       0
1201  83337  18    6        2       2        4       2019       0
1301  83583  33    1        2       3        1       2019       1
1401  83796  17    6        1       2        3       2018       0
1501  83997  38    6        2       3        2       2018      10
1601  84211  37    4        1       4        2       2019       3
1701  84418  24    6       NA       1        1       2018       3
1801  84625  16    6       NA       1        2       2018       0
1901  84836  36    6        1       3        4       2017      30
2001  85090  16    6        2       3        4       2018       0
2101  85316  17    6        2       3        1       2019       2
2201  85535  28    2       NA       1        3       2019      50
2301  85739  18    6        2       2        1       2018       0
2401  85961  22    6       NA       1        1       2018       0
2501  86188  20    6        1       3        3       2018       0
2601  86440  44    4        1       3        4       2017      30
2701  86615  33    1       NA       1        1       2018      30
2801  86847  33    5        2       3        3       2019       7
2901  87065  28    1        1       4        4       2018       3
⋮     ⋮      ⋮     ⋮       ⋮        ⋮        ⋮       ⋮         ⋮
69501  8447  24    6        2       2        2       2002       4
69601  9892  34    1        1       3        4       2002       2
69701 10130  37    1        1       3        4       2002       8
69801  5993  18    6        2       3        2       2002       0
69901 11928  33    1        1       2        3       2002       1
70001  6214  23    1        3       2        4       2002       4
70101  2952  41    6        1       3        4       2002       2
70201  4379  16    6        1       3        3       2002       0
70301  3390  16    6        1       3        2       2002       0
70401  4600  33    6        1       3        2       2002       0
70501 10847  29    1        2       2        4       2002       1
70601  4844  39    6        2       2        2       2002       2
70701  9025  22    2        1       3        2       2002       3
70801  9959  23    5        2       3        2       2002       6
70901  1139  22    1        1       3        4       2002       2
71001 10707  16    6        2       3        2       2002       0
71101 10426  21    2       NA       1        1       2002      15
71201  7218  21    1        1       3        4       2002       3
71301 11098  32    2       NA       1        2       2002      35
71401   120  18    6        1       3        4       2002       0
71501  7787  40    1        2       2        4       2002       7
71601  1151  38    1        1       2        2       2002       4
71701  9408  21    6        1       3        2       2002       2
71801  6259  38    3        1       3        4       2002       3
71901  4248  22    6        1       3        4       2002       6
72001  8128  29    1        1       3        4       2002       1
72101 11133  36    1        1       2        2       2002       7
72201  9301  35    1        1       2        4       2002       2
72301  3589  17    6        1       3        4       2002       0
72401  6975  16    6        2       2        1       2002       1
      timesmar attnd14 fmarit gayadopt lifeprt sxok18 staytog prvntdiv achieve
1     NA       NA      5      NA       NA      NA     NA      NA       NA
101    1       NA      1      NA       NA      NA     NA      NA       NA
201    1       NA      1      NA       NA      NA     NA      NA       NA
301    1       NA      4      NA       NA      NA     NA      NA       NA
401   NA        6      5      NA       NA      NA     NA      NA       NA
501   NA       NA      5      NA       NA      NA     NA      NA       NA
601    1        5      1      NA       NA      NA     NA      NA       NA
701   NA       NA      5      NA       NA      NA     NA      NA       NA
801    1       NA      1      NA       NA      NA     NA      NA       NA
901   NA        7      5      NA       NA      NA     NA      NA       NA
1001  NA       NA      5      NA       NA      NA     NA      NA       NA
1101  NA        7      5      NA       NA      NA     NA      NA       NA
1201  NA        1      5      NA       NA      NA     NA      NA       NA
1301   1       NA      1      NA       NA      NA     NA      NA       NA
1401  NA        6      5      NA       NA      NA     NA      NA       NA
1501  NA       NA      5      NA       NA      NA     NA      NA       NA
1601   1       NA      3      NA       NA      NA     NA      NA       NA
1701  NA        7      5      NA       NA      NA     NA      NA       NA
1801  NA        7      5      NA       NA      NA     NA      NA       NA
1901  NA       NA      5      NA       NA      NA     NA      NA       NA
2001  NA        2      5      NA       NA      NA     NA      NA       NA
2101  NA        5      5      NA       NA      NA     NA      NA       NA
2201  NA       NA      5      NA       NA      NA     NA      NA       NA
2301  NA        4      5      NA       NA      NA     NA      NA       NA
2401  NA        7      5      NA       NA      NA     NA      NA       NA
2501  NA        1      5      NA       NA      NA     NA      NA       NA
2601   1       NA      3      NA       NA      NA     NA      NA       NA
2701   1       NA      1      NA       NA      NA     NA      NA       NA
2801   1       NA      4      NA       NA      NA     NA      NA       NA
2901   1       NA      1      NA       NA      NA     NA      NA       NA
⋮     ⋮        ⋮       ⋮      ⋮        ⋮       ⋮      ⋮       ⋮        ⋮
69501 NA        2      5      2         4      2      3       NA       3
69601  1       NA      1      3         2      2      4       NA       3
69701  2       NA      1      3         8      3      3       NA       2
69801 NA        3      5      1        NA      3      3       NA       4
69901  1       NA      1      3         1      3      3       NA       2
70001  1        4      1      3         4      1      3       NA       3
70101 NA       NA      5      3         2      1      2       NA       1
70201 NA        2      5      3        NA      3      2       NA       3
70301 NA        2      5      2        NA      3      2       NA       2
70401 NA       NA      5      2        NA      2      2       NA       3
70501  1       NA      1      3         1      2      2       NA       1
70601 NA       NA      5      2         2      3      3       NA       3
70701 NA        4      5      2         3      2      2       NA       3
70801  1        5      4      2         6      2      3       NA       3
70901  1        1      1      4         2      4      4       NA       2
71001 NA        2      5      2        NA      2      2       NA       3
71101 NA        5      5      1        15      2      3       NA       4
71201  1        2      1      2         3      4      4       NA       3
71301  1       NA      3      2        35      2      2       NA       4
71401 NA        1      5      3        NA      4      4       NA       3
71501  2       NA      1      3         7      3      2       NA       5
71601  2       NA      1      2         4      4      1       NA       3
71701 NA        2      5      2         2      2      3       NA       2
71801  1       NA      2      3         3      3      3       NA       4
71901 NA        2      5      4         6      3      4       NA       3
72001  1       NA      1      4         1      4      2       NA       1
72101  1       NA      1      5         7      3      3       NA       4
72201  1       NA      1      4         2      2      3       NA       1
72301 NA        1      5      4        NA      4      2       NA       2
72401 NA        3      5      2        NA      3      3       NA       3

Boolean or conditional selection:

In [63]:
df1 <- nsfg_df[nsfg_df$age_a >= 18, c(1, 2, 3)]
head(df1, 10)

   caseid age_a marstat
1  80717  31    2
4  80724  49    4
5  80732  39    6
6  80734  37    1
8  80736  40    2
9  80738  46    4
10 80739  40    1
11 80740  31    6
12 80741  34    6
13 80745  32    1

In [64]:
df2 <- nsfg_df[nsfg_df$age_a >= 18, c("caseid","age_a", "religion")]
head(df2, 10)

   caseid age_a religion
1  80717  31    1
4  80724  49    4
5  80732  39    1
6  80734  37    2
8  80736  40    1
9  80738  46    3
10 80739  40    1
11 80740  31    1
12 80741  34    4
13 80745  32    3

In [77]:
df3 <- nsfg_df[(nsfg_df$religion==1) & (nsfg_df$timesmar>=2),] 
df3

         caseid age_a marstat reldlife religion samesex intvwyear lifprtnr
NA          NA  NA    NA      NA       NA       NA        NA      NA
NA.1        NA  NA    NA      NA       NA       NA        NA      NA
NA.2        NA  NA    NA      NA       NA       NA        NA      NA
NA.3        NA  NA    NA      NA       NA       NA        NA      NA
NA.4        NA  NA    NA      NA       NA       NA        NA      NA
NA.5        NA  NA    NA      NA       NA       NA        NA      NA
NA.6        NA  NA    NA      NA       NA       NA        NA      NA
NA.7        NA  NA    NA      NA       NA       NA        NA      NA
NA.8        NA  NA    NA      NA       NA       NA        NA      NA
22       80762  45     1      NA        1        5      2019      50
NA.9        NA  NA    NA      NA       NA       NA        NA      NA
NA.10       NA  NA    NA      NA       NA       NA        NA      NA
NA.11       NA  NA    NA      NA       NA       NA        NA      NA
NA.12       NA  NA    NA      NA       NA       NA        NA      NA
NA.13       NA  NA    NA      NA       NA       NA        NA      NA
NA.14       NA  NA    NA      NA       NA       NA        NA      NA
NA.15       NA  NA    NA      NA       NA       NA        NA      NA
NA.16       NA  NA    NA      NA       NA       NA        NA      NA
NA.17       NA  NA    NA      NA       NA       NA        NA      NA
NA.18       NA  NA    NA      NA       NA       NA        NA      NA
NA.19       NA  NA    NA      NA       NA       NA        NA      NA
NA.20       NA  NA    NA      NA       NA       NA        NA      NA
63       80850  33     1      NA        1        2      2018      20
NA.21       NA  NA    NA      NA       NA       NA        NA      NA
NA.22       NA  NA    NA      NA       NA       NA        NA      NA
NA.23       NA  NA    NA      NA       NA       NA        NA      NA
NA.24       NA  NA    NA      NA       NA       NA        NA      NA
NA.25       NA  NA    NA      NA       NA       NA        NA      NA
NA.26       NA  NA    NA      NA       NA       NA        NA      NA
NA.27       NA  NA    NA      NA       NA       NA        NA      NA
⋮        ⋮      ⋮     ⋮       ⋮        ⋮        ⋮       ⋮         ⋮
NA.11045    NA  NA    NA      NA       NA       NA        NA      NA
72260     3130  37     4      NA        1        2      2002      10
72268    10307  36     1      NA        1        4      2002       4
NA.11046    NA  NA    NA      NA       NA       NA        NA      NA
72281     1415  32     2      NA        1        4      2002      13
NA.11047    NA  NA    NA      NA       NA       NA        NA      NA
NA.11048    NA  NA    NA      NA       NA       NA        NA      NA
NA.11049    NA  NA    NA      NA       NA       NA        NA      NA
NA.11050    NA  NA    NA      NA       NA       NA        NA      NA
NA.11051    NA  NA    NA      NA       NA       NA        NA      NA
72322    11876  40     1      NA        1        8      2002       5
NA.11052    NA  NA    NA      NA       NA       NA        NA      NA
NA.11053    NA  NA    NA      NA       NA       NA        NA      NA
NA.11054    NA  NA    NA      NA       NA       NA        NA      NA
NA.11055    NA  NA    NA      NA       NA       NA        NA      NA
NA.11056    NA  NA    NA      NA       NA       NA        NA      NA
NA.11057    NA  NA    NA      NA       NA       NA        NA      NA
NA.11058    NA  NA    NA      NA       NA       NA        NA      NA
NA.11059    NA  NA    NA      NA       NA       NA        NA      NA
NA.11060    NA  NA    NA      NA       NA       NA        NA      NA
NA.11061    NA  NA    NA      NA       NA       NA        NA      NA
72352     9463  40     1      NA        1        2      2002       5
NA.11062    NA  NA    NA      NA       NA       NA        NA      NA
NA.11063    NA  NA    NA      NA       NA       NA        NA      NA
NA.11064    NA  NA    NA      NA       NA       NA        NA      NA
NA.11065    NA  NA    NA      NA       NA       NA        NA      NA
NA.11066    NA  NA    NA      NA       NA       NA        NA      NA
NA.11067    NA  NA    NA      NA       NA       NA        NA      NA
NA.11068    NA  NA    NA      NA       NA       NA        NA      NA
NA.11069    NA  NA    NA      NA       NA       NA        NA      NA
         timesmar attnd14 fmarit gayadopt lifeprt sxok18 staytog prvntdiv
NA       NA       NA      NA     NA       NA      NA     NA      NA
NA.1     NA       NA      NA     NA       NA      NA     NA      NA
NA.2     NA       NA      NA     NA       NA      NA     NA      NA
NA.3     NA       NA      NA     NA       NA      NA     NA      NA
NA.4     NA       NA      NA     NA       NA      NA     NA      NA
NA.5     NA       NA      NA     NA       NA      NA     NA      NA
NA.6     NA       NA      NA     NA       NA      NA     NA      NA
NA.7     NA       NA      NA     NA       NA      NA     NA      NA
NA.8     NA       NA      NA     NA       NA      NA     NA      NA
22        2       NA       1     NA       NA      NA     NA      NA
NA.9     NA       NA      NA     NA       NA      NA     NA      NA
NA.10    NA       NA      NA     NA       NA      NA     NA      NA
NA.11    NA       NA      NA     NA       NA      NA     NA      NA
NA.12    NA       NA      NA     NA       NA      NA     NA      NA
NA.13    NA       NA      NA     NA       NA      NA     NA      NA
NA.14    NA       NA      NA     NA       NA      NA     NA      NA
NA.15    NA       NA      NA     NA       NA      NA     NA      NA
NA.16    NA       NA      NA     NA       NA      NA     NA      NA
NA.17    NA       NA      NA     NA       NA      NA     NA      NA
NA.18    NA       NA      NA     NA       NA      NA     NA      NA
NA.19    NA       NA      NA     NA       NA      NA     NA      NA
NA.20    NA       NA      NA     NA       NA      NA     NA      NA
63        2       NA       1     NA       NA      NA     NA      NA
NA.21    NA       NA      NA     NA       NA      NA     NA      NA
NA.22    NA       NA      NA     NA       NA      NA     NA      NA
NA.23    NA       NA      NA     NA       NA      NA     NA      NA
NA.24    NA       NA      NA     NA       NA      NA     NA      NA
NA.25    NA       NA      NA     NA       NA      NA     NA      NA
NA.26    NA       NA      NA     NA       NA      NA     NA      NA
NA.27    NA       NA      NA     NA       NA      NA     NA      NA
⋮        ⋮        ⋮       ⋮      ⋮        ⋮       ⋮      ⋮       ⋮
NA.11045 NA       NA      NA     NA       NA      NA     NA      NA
72260     3       NA       3      2       10       2      3      NA
72268     2       NA       1      3        4       3      3      NA
NA.11046 NA       NA      NA     NA       NA      NA     NA      NA
72281     2       NA       3      5       13       5      2      NA
NA.11047 NA       NA      NA     NA       NA      NA     NA      NA
NA.11048 NA       NA      NA     NA       NA      NA     NA      NA
NA.11049 NA       NA      NA     NA       NA      NA     NA      NA
NA.11050 NA       NA      NA     NA       NA      NA     NA      NA
NA.11051 NA       NA      NA     NA       NA      NA     NA      NA
72322     2       NA       1      2        5       2      3      NA
NA.11052 NA       NA      NA     NA       NA      NA     NA      NA
NA.11053 NA       NA      NA     NA       NA      NA     NA      NA
NA.11054 NA       NA      NA     NA       NA      NA     NA      NA
NA.11055 NA       NA      NA     NA       NA      NA     NA      NA
NA.11056 NA       NA      NA     NA       NA      NA     NA      NA
NA.11057 NA       NA      NA     NA       NA      NA     NA      NA
NA.11058 NA       NA      NA     NA       NA      NA     NA      NA
NA.11059 NA       NA      NA     NA       NA      NA     NA      NA
NA.11060 NA       NA      NA     NA       NA      NA     NA      NA
NA.11061 NA       NA      NA     NA       NA      NA     NA      NA
72352     3       NA       1      2        5       2      3      NA
NA.11062 NA       NA      NA     NA       NA      NA     NA      NA
NA.11063 NA       NA      NA     NA       NA      NA     NA      NA
NA.11064 NA       NA      NA     NA       NA      NA     NA      NA
NA.11065 NA       NA      NA     NA       NA      NA     NA      NA
NA.11066 NA       NA      NA     NA       NA      NA     NA      NA
NA.11067 NA       NA      NA     NA       NA      NA     NA      NA
NA.11068 NA       NA      NA     NA       NA      NA     NA      NA
NA.11069 NA       NA      NA     NA       NA      NA     NA      NA
         achieve
NA       NA
NA.1     NA
NA.2     NA
NA.3     NA
NA.4     NA
NA.5     NA
NA.6     NA
NA.7     NA
NA.8     NA
22       NA
NA.9     NA
NA.10    NA
NA.11    NA
NA.12    NA
NA.13    NA
NA.14    NA
NA.15    NA
NA.16    NA
NA.17    NA
NA.18    NA
NA.19    NA
NA.20    NA
63       NA
NA.21    NA
NA.22    NA
NA.23    NA
NA.24    NA
NA.25    NA
NA.26    NA
NA.27    NA
⋮        ⋮
NA.11045 NA
72260     3
72268     4
NA.11046 NA
72281     2
NA.11047 NA
NA.11048 NA
NA.11049 NA
NA.11050 NA
NA.11051 NA
72322     3
NA.11052 NA
NA.11053 NA
NA.11054 NA
NA.11055 NA
NA.11056 NA
NA.11057 NA
NA.11058 NA
NA.11059 NA
NA.11060 NA
NA.11061 NA
72352     3
NA.11062 NA
NA.11063 NA
NA.11064 NA
NA.11065 NA
NA.11066 NA
NA.11067 NA
NA.11068 NA
NA.11069 NA

The `subset()` function also comes handy when subsetting data:

In [78]:
subset(nsfg_df, religion==1 & timesmar>=2)

      caseid age_a marstat reldlife religion samesex intvwyear lifprtnr
22    80762  45    1       NA       1        5       2019      50
63    80850  33    1       NA       1        2       2018      20
151   81034  43    5       NA       1        2       2018       7
309   81377  32    1       NA       1        2       2017      48
354   81477  44    4       NA       1        5       2018      50
410   81589  46    1       NA       1        2       2019       5
420   81622  43    1       NA       1        2       2017       5
440   81672  35    4       NA       1        1       2018      30
452   81712  46    5       NA       1        1       2017       9
499   81829  44    1       NA       1        3       2017       8
515   81878  35    1       NA       1        1       2018       5
663   82225  33    1       NA       1        1       2019       7
693   82284  42    1       NA       1        4       2018      50
704   82309  47    4       NA       1        3       2018       7
753   82398  44    1       NA       1        2       2018       4
764   82422  49    2       NA       1        1       2018      10
819   82539  41    1       NA       1        1       2018       6
834   82574  42    1       NA       1        2       2019      10
873   82645  27    1       NA       1        3       2019      10
990   82887  48    1       NA       1        4       2018       9
1011  82929  39    1       NA       1        2       2019      50
1102  83128  42    1       NA       1        2       2018      30
1123  83165  46    4       NA       1        2       2019      25
1292  83553  47    1       NA       1        2       2017      22
1383  83763  31    1       NA       1        1       2018       2
1533  84061  30    1       NA       1        2       2019      20
1541  84080  42    1       NA       1        1       2017      50
1586  84183  37    2       NA       1        4       2018      17
1614  84244  45    1       NA       1        3       2019      10
1682  84378  48    1       NA       1        2       2019      10
⋮     ⋮      ⋮     ⋮       ⋮        ⋮        ⋮       ⋮         ⋮
69721  6745  43    1       NA       1        2       2002       5
69760 10406  36    1       NA       1        4       2002       5
69777  8495  43    4       NA       1        1       2002      25
69791  2916  38    1       NA       1        1       2002      12
69969 10670  42    1       NA       1        4       2002       8
70219  9605  33    1       NA       1        2       2002      20
70552  4131  42    1       NA       1        2       2002      10
70781  3482  42    1       NA       1        3       2002       5
70812  5788  27    1       NA       1        2       2002      24
70824 10598  41    4       NA       1        5       2002      10
70873  3064  32    4       NA       1        2       2002       8
70967   737  32    1       NA       1        2       2002       4
71022 10510  28    1       NA       1        2       2002      30
71023  2050  43    4       NA       1        1       2002      25
71060  5406  41    1       NA       1        2       2002      12
71247  4302  36    1       NA       1        2       2002       5
71279  7826  41    5       NA       1        1       2002      50
71323  4470  44    1       NA       1        2       2002      10
71437  1236  43    4       NA       1        2       2002       2
71523  3321  38    1       NA       1        4       2002       7
71539  2571  38    4       NA       1        2       2002       7
71764  4821  34    1       NA       1        4       2002       6
71840  5208  38    4       NA       1        3       2002      20
71990  2080  34    1       NA       1        5       2002       5
72144  5646  34    1       NA       1        4       2002       3
72260  3130  37    4       NA       1        2       2002      10
72268 10307  36    1       NA       1        4       2002       4
72281  1415  32    2       NA       1        4       2002      13
72322 11876  40    1       NA       1        8       2002       5
72352  9463  40    1       NA       1        2       2002       5
      timesmar attnd14 fmarit gayadopt lifeprt sxok18 staytog prvntdiv achieve
22    2        NA      1      NA       NA      NA     NA      NA       NA
63    2        NA      1      NA       NA      NA     NA      NA       NA
151   2        NA      4      NA       NA      NA     NA      NA       NA
309   3        NA      1      NA       NA      NA     NA      NA       NA
354   2        NA      3      NA       NA      NA     NA      NA       NA
410   2        NA      1      NA       NA      NA     NA      NA       NA
420   2        NA      1      NA       NA      NA     NA      NA       NA
440   2        NA      3      NA       NA      NA     NA      NA       NA
452   2        NA      4      NA       NA      NA     NA      NA       NA
499   2        NA      1      NA       NA      NA     NA      NA       NA
515   2        NA      1      NA       NA      NA     NA      NA       NA
663   2        NA      1      NA       NA      NA     NA      NA       NA
693   3        NA      1      NA       NA      NA     NA      NA       NA
704   2        NA      3      NA       NA      NA     NA      NA       NA
753   2        NA      1      NA       NA      NA     NA      NA       NA
764   2        NA      3      NA       NA      NA     NA      NA       NA
819   2        NA      1      NA       NA      NA     NA      NA       NA
834   2        NA      1      NA       NA      NA     NA      NA       NA
873   2        NA      1      NA       NA      NA     NA      NA       NA
990   2        NA      1      NA       NA      NA     NA      NA       NA
1011  2        NA      1      NA       NA      NA     NA      NA       NA
1102  2        NA      1      NA       NA      NA     NA      NA       NA
1123  2        NA      3      NA       NA      NA     NA      NA       NA
1292  2        NA      1      NA       NA      NA     NA      NA       NA
1383  2        NA      1      NA       NA      NA     NA      NA       NA
1533  2        NA      1      NA       NA      NA     NA      NA       NA
1541  3        NA      1      NA       NA      NA     NA      NA       NA
1586  2        NA      2      NA       NA      NA     NA      NA       NA
1614  2        NA      1      NA       NA      NA     NA      NA       NA
1682  2        NA      1      NA       NA      NA     NA      NA       NA
⋮     ⋮        ⋮       ⋮      ⋮        ⋮       ⋮      ⋮       ⋮        ⋮
69721 2        NA      1      2          5     3      3       NA       1
69760 2        NA      1      4          5     3      2       NA       3
69777 3        NA      3      1         25     2      1       NA       2
69791 2        NA      1      1         12     2      1       NA       3
69969 2        NA      1      1          8     1      1       NA       3
70219 2        NA      1      2         20     2      3       NA       3
70552 2        NA      1      3         10     3      3       NA       4
70781 3        NA      1      3          5     4      2       NA       3
70812 2        NA      1      2         24     3      3       NA       2
70824 2        NA      3      2        999     2      3       NA       4
70873 2        NA      3      2          8     2      2       NA       4
70967 2        NA      1      3          4     3      3       NA       2
71022 3        NA      1      2         30     2      2       NA       2
71023 2        NA      3      1         25     2      4       NA       4
71060 2        NA      1      3         12     2      2       NA       2
71247 2        NA      1      2          5     2      5       NA       3
71279 2        NA      4      2         50     2      4       NA       2
71323 2        NA      1      2         10     3      3       NA       2
71437 3        NA      3      4          2     4      2       NA       2
71523 2        NA      1      4          7     3      2       NA       2
71539 2        NA      3      3          7     2      2       NA       2
71764 3        NA      1      4          6     5      4       NA       4
71840 5        NA      3      3         20     3      3       NA       2
71990 3        NA      1      2          5     4      4       NA       3
72144 2        NA      1      4          3     4      1       NA       4
72260 3        NA      3      2         10     2      3       NA       3
72268 2        NA      1      3          4     3      3       NA       4
72281 2        NA      3      5         13     5      2       NA       2
72322 2        NA      1      2          5     2      3       NA       3
72352 3        NA      1      2          5     2      3       NA       3

In [79]:
subset(nsfg_df, religion==1 & timesmar>=2, select=c("caseid", "religion", "age_a", "timesmar"))

      caseid religion age_a timesmar
22    80762  1        45    2
63    80850  1        33    2
151   81034  1        43    2
309   81377  1        32    3
354   81477  1        44    2
410   81589  1        46    2
420   81622  1        43    2
440   81672  1        35    2
452   81712  1        46    2
499   81829  1        44    2
515   81878  1        35    2
663   82225  1        33    2
693   82284  1        42    3
704   82309  1        47    2
753   82398  1        44    2
764   82422  1        49    2
819   82539  1        41    2
834   82574  1        42    2
873   82645  1        27    2
990   82887  1        48    2
1011  82929  1        39    2
1102  83128  1        42    2
1123  83165  1        46    2
1292  83553  1        47    2
1383  83763  1        31    2
1533  84061  1        30    2
1541  84080  1        42    3
1586  84183  1        37    2
1614  84244  1        45    2
1682  84378  1        48    2
⋮     ⋮      ⋮        ⋮     ⋮
69721  6745  1        43    2
69760 10406  1        36    2
69777  8495  1        43    3
69791  2916  1        38    2
69969 10670  1        42    2
70219  9605  1        33    2
70552  4131  1        42    2
70781  3482  1        42    3
70812  5788  1        27    2
70824 10598  1        41    2
70873  3064  1        32    2
70967   737  1        32    2
71022 10510  1        28    3
71023  2050  1        43    2
71060  5406  1        41    2
71247  4302  1        36    2
71279  7826  1        41    2
71323  4470  1        44    2
71437  1236  1        43    3
71523  3321  1        38    2
71539  2571  1        38    2
71764  4821  1        34    3
71840  5208  1        38    5
71990  2080  1        34    3
72144  5646  1        34    2
72260  3130  1        37    3
72268 10307  1        36    2
72281  1415  1        32    2
72322 11876  1        40    2
72352  9463  1        40    3

### RData

RData (.Rda) is an specific format available in R.

- More efficient.
- More than one object can be stored in a single file.

We can first export our NSFG data set with the `save()` function:

In [61]:
save(nsfg_df, file = "../data/nsfg/nsfg.RData")

We can save more object in a single RData file:

In [62]:
save(nsfg_df, AirPassengers, file = "../data/nsfg_and_airpass.RData")

Then we can load the files with `load()` (try restarting the notebook's kernel before running the ccode below to check if it actually works):

In [1]:
load("../data/nsfg/nsfg.RData")
nsfg_df

      caseid age_a marstat reldlife religion samesex intvwyear lifprtnr
1     80717  31    2       NA       1        1       2018      15
2     80721  17    6        2       3        2       2018       1
3     80722  16    6       NA       1        2       2019       2
4     80724  49    4        2       4        3       2019      50
5     80732  39    6       NA       1        1       2019       0
6     80734  37    1        2       2        2       2018       3
7     80735  17    6        1       3        4       2019       0
8     80736  40    2       NA       1        1       2019      22
9     80738  46    4        2       3        2       2018      30
10    80739  40    1       NA       1        1       2019       5
11    80740  31    6       NA       1        1       2017       0
12    80741  34    6        2       4        1       2018       1
13    80745  32    1        1       3        2       2019       4
14    80746  17    6       NA       1        1       2019       6
15    80748  21    2        1       3        2       2018       1
16    80749  17    6        2       2        2       2019       0
17    80751  25    2        3       2        2       2019       3
18    80753  22    6        3       3        2       2019       4
19    80757  28    6       NA       1        4       2019       6
20    80758  18    2       NA       1        3       2018      10
21    80759  40    2       NA       1        3       2018      26
22    80762  45    1       NA       1        5       2019      50
23    80765  34    6        2       3        2       2018       4
24    80767  31    6       NA       1        1       2017      12
25    80769  39    1        2       3        3       2018      39
26    80770  48    1        1       4        4       2018       3
27    80771  16    6       NA       1        2       2019       1
28    80774  26    6       NA       1        2       2019       5
29    80775  26    1        3       4        2       2019      11
30    80777  29    1        1       3        4       2018      13
⋮     ⋮      ⋮     ⋮       ⋮        ⋮        ⋮       ⋮         ⋮
72435   363  19    6       NA        1        1      2002       6
72436 10759  39    1        2        3        2      2002       3
72437  4516  39    4        8        2        1      2002       4
72438  8964  43    5        1        3        3      2002       5
72439  4671  21    5        1        2        1      2002      50
72440  2833  42    6        1        2        2      2002       1
72441  6905  41    1        2        4        3      2002       9
72442  7245  38    5        3        2        2      2002       6
72443  1181  18    6        2        2        2      2002       2
72444  7748  29    1        1        3        1      2002      10
72445   988  35    2        2        2        4      2002       3
72446  8670  29    2        2        2        1      2002      22
72447  3665  20    1        2        2        3      2002       2
72448  7876  18    6        1        3        1      2002       0
72449  8630  35    1        2        2        2      2002      14
72450  2782  21    6        1        3        1      2002       4
72451  8829  41    1        1        3        1      2002       1
72452  6139  18    6        2        3        3      2002       1
72453  7879  28    1        1        3        1      2002       3
72454 11427  21    2        2        3        1      2002       6
72455 11640  20    6        2        3        2      2002       4
72456  5515  18    6        1        3        2      2002       0
72457  1551  23    6        1        3        1      2002       0
72458  9358  27    1        1        3        1      2002       1
72459  2417  21    6        1        3        3      2002       1
72460  1074  15    6        2        3        2      2002       0
72461  8877  37    4        1        3        1      2002       5
72462 11658  28    1       NA        1        4      2002       7
72463  2780  24    4       NA        1        2      2002       5
72464  5758  28    1       NA       NA       NA      2002      NA
      timesmar attnd14 fmarit gayadopt lifeprt sxok18 staytog prvntdiv achieve
1     NA       NA      5      NA       NA      NA     NA      NA       NA
2     NA        6      5      NA       NA      NA     NA      NA       NA
3     NA        2      5      NA       NA      NA     NA      NA       NA
4      2       NA      3      NA       NA      NA     NA      NA       NA
5     NA       NA      5      NA       NA      NA     NA      NA       NA
6      1       NA      1      NA       NA      NA     NA      NA       NA
7     NA        2      5      NA       NA      NA     NA      NA       NA
8     NA       NA      5      NA       NA      NA     NA      NA       NA
9      1       NA      3      NA       NA      NA     NA      NA       NA
10     1       NA      1      NA       NA      NA     NA      NA       NA
11    NA       NA      5      NA       NA      NA     NA      NA       NA
12    NA       NA      5      NA       NA      NA     NA      NA       NA
13     1       NA      1      NA       NA      NA     NA      NA       NA
14    NA        6      5      NA       NA      NA     NA      NA       NA
15    NA        1      5      NA       NA      NA     NA      NA       NA
16    NA        1      5      NA       NA      NA     NA      NA       NA
17    NA       NA      5      NA       NA      NA     NA      NA       NA
18    NA        6      5      NA       NA      NA     NA      NA       NA
19    NA       NA      5      NA       NA      NA     NA      NA       NA
20    NA        3      5      NA       NA      NA     NA      NA       NA
21    NA       NA      5      NA       NA      NA     NA      NA       NA
22     2       NA      1      NA       NA      NA     NA      NA       NA
23    NA       NA      5      NA       NA      NA     NA      NA       NA
24    NA       NA      5      NA       NA      NA     NA      NA       NA
25     2       NA      1      NA       NA      NA     NA      NA       NA
26     1       NA      1      NA       NA      NA     NA      NA       NA
27    NA        7      5      NA       NA      NA     NA      NA       NA
28    NA       NA      5      NA       NA      NA     NA      NA       NA
29     1       NA      1      NA       NA      NA     NA      NA       NA
30     1       NA      1      NA       NA      NA     NA      NA       NA
⋮     ⋮        ⋮       ⋮      ⋮        ⋮       ⋮      ⋮       ⋮        ⋮
72435 NA        5      5       2        6       2      3      NA        2
72436  1       NA      1       3        3       2      2      NA        2
72437  1       NA      3       9        4       2      2      NA        2
72438  1       NA      4       5        5       2      3      NA        2
72439  1        2      4       3        7       2      1      NA        2
72440 NA       NA      5       5        1       2      3      NA        3
72441  2       NA      1       5        7       2      3      NA        5
72442  1       NA      4       3        6       2      2      NA        2
72443 NA        2      5       3        2       2      3      NA        3
72444  1       NA      1       4        7       3      3      NA        3
72445 NA       NA      5       3        3       2      3      NA        2
72446  1       NA      3       3        7       5      3      NA        5
72447 99        2      1       3        2       3      4      NA        2
72448 NA        2      5       2       NA       4      4      NA        2
72449  2       NA      1       5        7       2      2      NA        5
72450 NA        2      5       2        4       3      2      NA        2
72451  1       NA      1       4        1       4      4      NA        3
72452 NA        1      5       2        1       2      4      NA        4
72453  1       NA      1       3        3       2      3      NA        2
72454 NA        1      5       3        6       2      3      NA        3
72455 NA        2      5       2        4       2      2      NA        3
72456 NA        1      5       3       NA       3      4      NA        2
72457 NA        2      5       4       NA       4      4      NA        2
72458  1       NA      1       4        1       4      3      NA        3
72459 NA        3      5       2        1       4      2      NA        3
72460 NA        4      5       3       NA       3      3      NA        2
72461  1       NA      3       4        5       3      1      NA        3
72462  1       NA      1       2        7       2      3      NA        3
72463  1        5      3       4        5       2      2      NA        1
72464  1       NA      1      NA        1      NA     NA      NA       NA

## Introduction to dplyr

[dplyr](https://dplyr.tidyverse.org/) is a grammar of data manipulation, providing a consistent set of verbs that help you solve the most common data manipulation challenges:

- `filter()` picks cases based on their values.
- `arrange()` changes the ordering of the rows.
- `select()` picks variables based on their names.
- `mutate()` adds new variables that are functions of existing variables
- `summarise()` reduces multiple values down to a single summary.

These all combine naturally with `group_by()` which allows you to perform any operation “by group”. You can learn more [here](https://dplyr.tidyverse.org/articles/dplyr.html).
Each of these functions do only one thing, so to perform more complex operations you have to concatenate one function after another. This is done with the [pipe operator](https://stat545.com/dplyr-intro.html#meet-the-new-pipe-operator) `%>%`.

In [94]:
library(dplyr) 

nsfg_df %>% filter(age_a >= 18, religion == 1)

      caseid age_a marstat reldlife religion samesex intvwyear lifprtnr
1     80717  31    2       NA       1        1       2018      15
2     80732  39    6       NA       1        1       2019       0
3     80736  40    2       NA       1        1       2019      22
4     80739  40    1       NA       1        1       2019       5
5     80740  31    6       NA       1        1       2017       0
6     80757  28    6       NA       1        4       2019       6
7     80758  18    2       NA       1        3       2018      10
8     80759  40    2       NA       1        3       2018      26
9     80762  45    1       NA       1        5       2019      50
10    80767  31    6       NA       1        1       2017      12
11    80774  26    6       NA       1        2       2019       5
12    80780  36    2       NA       1        1       2018       9
13    80781  26    2       NA       1        3       2018      50
14    80782  33    6       NA       1        1       2018       9
15    80794  35    1       NA       1        1       2018       2
16    80798  46    2       NA       1        1       2017       9
17    80809  23    6       NA       1        1       2019       4
18    80814  22    6       NA       1        1       2018       0
19    80825  27    1       NA       1        1       2019       7
20    80835  26    6       NA       1        2       2018       5
21    80841  31    6       NA       1        2       2018      16
22    80844  18    6       NA       1        1       2018       8
23    80850  33    1       NA       1        2       2018      20
24    80856  37    1       NA       1        1       2019       6
25    80860  30    6       NA       1        1       2018       5
26    80867  44    1       NA       1        2       2018       6
27    80874  29    2       NA       1        1       2019      10
28    80879  28    6       NA       1        1       2019       0
29    80884  25    1       NA       1        1       2019       3
30    80893  27    6       NA       1        1       2019      18
⋮     ⋮      ⋮     ⋮       ⋮        ⋮        ⋮       ⋮         ⋮
15225  4157  38    1       NA       1        2       2002       4
15226 11876  40    1       NA       1        8       2002       5
15227  1036  19    6       NA       1        2       2002       0
15228  5113  43    1       NA       1        2       2002      10
15229  6173  41    6       NA       1        1       2002      12
15230  2724  32    6       NA       1        2       2002       4
15231 11121  35    6       NA       1        2       2002      11
15232  5401  23    6       NA       1        4       2002       3
15233  2381  32    1       NA       1        1       2002      13
15234   204  28    6       NA       1        1       2002      16
15235  8873  21    2       NA       1        3       2002       1
15236 11724  43    6       NA       1        1       2002      40
15237  6857  39    1       NA       1        1       2002       5
15238  8056  19    6       NA       1        2       2002       2
15239  9463  40    1       NA       1        2       2002       5
15240  9643  24    1       NA       1        5       2002       6
15241  3030  34    4       NA       1        2       2002      12
15242  7574  19    2       NA       1        1       2002       2
15243  6288  20    6       NA       1        2       2002       2
15244  8794  23    6       NA       1        1       2002       3
15245  4213  40    5       NA       1        3       2002       4
15246  2954  30    5       NA       1        3       2002       3
15247  8974  20    6       NA       1        4       2002       0
15248  3359  22    6       NA       1        1       2002       4
15249   527  23    6       NA       1        3       2002      40
15250  3368  27    1       NA       1        2       2002      10
15251  6961  38    2       NA       1        1       2002      29
15252   363  19    6       NA       1        1       2002       6
15253 11658  28    1       NA       1        4       2002       7
15254  2780  24    4       NA       1        2       2002       5
      timesmar attnd14 fmarit gayadopt lifeprt sxok18 staytog prvntdiv achieve
1     NA       NA      5      NA       NA      NA     NA      NA       NA
2     NA       NA      5      NA       NA      NA     NA      NA       NA
3     NA       NA      5      NA       NA      NA     NA      NA       NA
4      1       NA      1      NA       NA      NA     NA      NA       NA
5     NA       NA      5      NA       NA      NA     NA      NA       NA
6     NA       NA      5      NA       NA      NA     NA      NA       NA
7     NA        3      5      NA       NA      NA     NA      NA       NA
8     NA       NA      5      NA       NA      NA     NA      NA       NA
9      2       NA      1      NA       NA      NA     NA      NA       NA
10    NA       NA      5      NA       NA      NA     NA      NA       NA
11    NA       NA      5      NA       NA      NA     NA      NA       NA
12     1       NA      3      NA       NA      NA     NA      NA       NA
13    NA       NA      5      NA       NA      NA     NA      NA       NA
14    NA       NA      5      NA       NA      NA     NA      NA       NA
15     1       NA      1      NA       NA      NA     NA      NA       NA
16    NA       NA      5      NA       NA      NA     NA      NA       NA
17    NA        6      5      NA       NA      NA     NA      NA       NA
18    NA        2      5      NA       NA      NA     NA      NA       NA
19     1       NA      1      NA       NA      NA     NA      NA       NA
20    NA       NA      5      NA       NA      NA     NA      NA       NA
21    NA       NA      5      NA       NA      NA     NA      NA       NA
22    NA        7      5      NA       NA      NA     NA      NA       NA
23     2       NA      1      NA       NA      NA     NA      NA       NA
24     1       NA      1      NA       NA      NA     NA      NA       NA
25    NA       NA      5      NA       NA      NA     NA      NA       NA
26     1       NA      1      NA       NA      NA     NA      NA       NA
27    NA       NA      5      NA       NA      NA     NA      NA       NA
28    NA       NA      5      NA       NA      NA     NA      NA       NA
29     1       NA      1      NA       NA      NA     NA      NA       NA
30    NA       NA      5      NA       NA      NA     NA      NA       NA
⋮     ⋮        ⋮       ⋮      ⋮        ⋮       ⋮      ⋮       ⋮        ⋮
15225  1       NA      1      2          4     2      3       NA       3
15226  2       NA      1      2          5     2      3       NA       3
15227 NA        5      5      2         NA     2      2       NA       4
15228  1       NA      1      3        999     1      5       NA       4
15229 NA       NA      5      1         12     2      2       NA       4
15230 NA       NA      5      1          4     2      3       NA       4
15231 NA       NA      5      1         11     2      3       NA       3
15232 NA        1      5      4          3     4      3       NA       3
15233  1       NA      1      1         13     2      3       NA       3
15234 NA       NA      5      1         16     2      2       NA       4
15235 NA        4      5      2          1     2      3       NA       3
15236 NA       NA      5      1         40     4      4       NA       4
15237  1       NA      1      3          5     3      2       NA       2
15238 NA        4      5      1          2     1      2       NA       4
15239  3       NA      1      2          5     2      3       NA       3
15240  1        3      1      2          6     2      3       NA       3
15241  1       NA      3      2         12     2      2       NA       3
15242 NA        5      5      1          2     2      5       NA       3
15243 NA        2      5      2          2     2      2       NA       4
15244 NA        5      5      1          3     2      2       NA       4
15245  1       NA      4      3          4     3      4       NA       2
15246  1       NA      4      3          3     3      3       NA       3
15247 NA        5      5      1         NA     2      3       NA       4
15248 NA        1      5      4          4     2      2       NA       3
15249 NA        5      5      3          7     2      3       NA       2
15250  1       NA      1      2          7     2      1       NA       3
15251  1       NA      3      2          7     3      1       NA       3
15252 NA        5      5      2          6     2      3       NA       2
15253  1       NA      1      2          7     2      3       NA       3
15254  1        5      3      4          5     2      2       NA       1

In [95]:
nsfg_df %>% filter(age_a >= 18, religion == 1) %>% head()

  caseid age_a marstat reldlife religion samesex intvwyear lifprtnr timesmar
1 80717  31    2       NA       1        1       2018      15       NA
2 80732  39    6       NA       1        1       2019       0       NA
3 80736  40    2       NA       1        1       2019      22       NA
4 80739  40    1       NA       1        1       2019       5        1
5 80740  31    6       NA       1        1       2017       0       NA
6 80757  28    6       NA       1        4       2019       6       NA
  attnd14 fmarit gayadopt lifeprt sxok18 staytog prvntdiv achieve
1 NA      5      NA       NA      NA     NA      NA       NA
2 NA      5      NA       NA      NA     NA      NA       NA
3 NA      5      NA       NA      NA     NA      NA       NA
4 NA      1      NA       NA      NA     NA      NA       NA
5 NA      5      NA       NA      NA     NA      NA       NA
6 NA      5      NA       NA      NA     NA      NA       NA

In [97]:
nsfg_df %>% arrange(caseid)

      caseid age_a marstat reldlife religion samesex intvwyear lifprtnr
1      1     44    1        2       2        3       2002       5
2      2     20    6        1       3        4       2002       9
3      4     36    1       NA       1        2       2002      17
4      6     40    1        1       3        4       2002       1
5      7     39    1        1       3        3       2002      10
6      8     23    2        2       3        3       2002       3
7      9     15    6       NA       1        2       2002       1
8     12     40    4        1       2        4       2002       3
9     13     20    6        1       3        1       2002       0
10    14     36    4        1       3        3       2002       6
11    15     32    1       NA       1        4       2002       3
12    18     42    1        1       3        4       2002       4
13    19     34    1        1       3        2       2002       1
14    20     15    6        1       3        1       2002       0
15    21     35    1        1       3        2       2002       6
16    22     25    6        1       2        2       2002       0
17    23     42    4        2       2        2       2002       3
18    24     35    4        2       3        5       2002       5
19    25     33    1        3       3        2       2002       5
20    28     39    4       NA       1        1       2002      10
21    31     44    6        2       3        4       2002      25
22    32     20    6        2       3        4       2002       6
23    33     31    6       NA       1        2       2002       5
24    36     37    1        2       3        2       2002       3
25    37     16    6        2       2        2       2002       0
26    38     37    1        1       2        3       2002       8
27    39     31    6       NA       1        3       2002       6
28    40     15    6        1       2        4       2002       0
29    43     41    1        2       2        3       2002       2
30    44     37    1        1       2        5       2002      12
⋮     ⋮      ⋮     ⋮       ⋮        ⋮        ⋮       ⋮         ⋮
72435 92033  32    1        1       2        5       2018       1
72436 92034  34    4        2       2        2       2018      50
72437 92035  22    6       NA       1        2       2018       1
72438 92036  34    6        1       2        1       2018       4
72439 92037  47    1        1       4        1       2017       1
72440 92038  48    3        1       2        4       2018       1
72441 92039  46    5        2       3        3       2019       1
72442 92040  45    6        2       3        4       2019       2
72443 92041  46    1        2       4        3       2018       4
72444 92042  17    6       NA       1        2       2019       0
72445 92043  42    2       NA       1        3       2019      20
72446 92044  32    1        2       3        1       2019      20
72447 92045  27    1        1       3        3       2019       1
72448 92046  49    6       NA       1        4       2018       4
72449 92047  41    6        2       2        1       2017       3
72450 92048  41    1        1       3        2       2018      25
72451 92049  45    4        1       3        4       2018      15
72452 92050  19    6       NA       1        1       2019       3
72453 92051  46    6        2       4        1       2017       0
72454 92052  33    1        2       3        1       2017       5
72455 92053  41    2       NA       1        1       2018       6
72456 92054  16    6       NA       1        2       2019       0
72457 92055  20    6        2       3        1       2019       1
72458 92056  49    2       NA       1        3       2018      10
72459 92057  37    6        2       2        2       2018       2
72460 92058  32    6       NA       1        2       2019       6
72461 92059  39    6        3       3        2       2019      39
72462 92060  37    2        3       2        1       2019       1
72463 92061  24    1        1       3        2       2018       5
72464 92062  41    1       NA       1        2       2018       9
      timesmar attnd14 fmarit gayadopt lifeprt sxok18 staytog prvntdiv achieve
1      1       NA      1      3          5     3      3       NA       2
2     NA        1      5      2          9     2      4       NA       1
3      1       NA      1      2         17     3      2       NA       4
4      1       NA      1      4          1     4      4       NA       3
5      4       NA      1      3        998     3      2       NA       2
6     NA        2      5      3          3     2      2       NA       3
7     NA        4      5      2          1     2      1       NA       3
8      1       NA      3      4          3     3      2       NA       4
9     NA        1      5      3         NA     4      1       NA       4
10     1       NA      3      5          6     3      2       NA       2
11     1       NA      1      3          3     4      3       NA       3
12     2       NA      1      4          4     3      1       NA       1
13     1       NA      1      3          1     3      3       NA       2
14    NA        4      5      1         NA     3      2       NA       4
15     1       NA      1      5          6     2      2       NA       3
16    NA       NA      5      3         NA     2      1       NA       4
17     1       NA      3      2          3     3      2       NA       3
18     1       NA      3      5          5     2      2       NA       5
19     1       NA      1      2          5     2      3       NA       3
20     3       NA      3      2         10     2      2       NA       4
21    NA       NA      5      1         25     3      1       NA       1
22    NA        1      5      4          6     2      3       NA       2
23    NA       NA      5      2          5     5      5       NA       3
24     1       NA      1      2          3     2      4       NA       3
25    NA        2      5      2         NA     2      2       NA       3
26     1       NA      1      3          8     3      2       NA       2
27    NA       NA      5      2          6     3      2       NA       3
28    NA        4      5      2         NA     4      3       NA       1
29     1       NA      1      2          2     3      3       NA       3
30     1       NA      1      2         12     3      3       NA       3
⋮     ⋮        ⋮       ⋮      ⋮        ⋮       ⋮      ⋮       ⋮        ⋮
72435  1       NA      1      NA       NA      NA     NA      NA       NA
72436  1       NA      3      NA       NA      NA     NA      NA       NA
72437 NA        7      5      NA       NA      NA     NA      NA       NA
72438 NA       NA      5      NA       NA      NA     NA      NA       NA
72439  1       NA      1      NA       NA      NA     NA      NA       NA
72440  1       NA      2      NA       NA      NA     NA      NA       NA
72441  1       NA      4      NA       NA      NA     NA      NA       NA
72442 NA       NA      5      NA       NA      NA     NA      NA       NA
72443  1       NA      1      NA       NA      NA     NA      NA       NA
72444 NA        1      5      NA       NA      NA     NA      NA       NA
72445 NA       NA      5      NA       NA      NA     NA      NA       NA
72446  1       NA      1      NA       NA      NA     NA      NA       NA
72447  1       NA      1      NA       NA      NA     NA      NA       NA
72448 NA       NA      5      NA       NA      NA     NA      NA       NA
72449 NA       NA      5      NA       NA      NA     NA      NA       NA
72450  4       NA      1      NA       NA      NA     NA      NA       NA
72451  1       NA      3      NA       NA      NA     NA      NA       NA
72452 NA        2      5      NA       NA      NA     NA      NA       NA
72453 NA       NA      5      NA       NA      NA     NA      NA       NA
72454  1       NA      1      NA       NA      NA     NA      NA       NA
72455 NA       NA      5      NA       NA      NA     NA      NA       NA
72456 NA        5      5      NA       NA      NA     NA      NA       NA
72457 NA        1      5      NA       NA      NA     NA      NA       NA
72458  2       NA      3      NA       NA      NA     NA      NA       NA
72459 NA       NA      5      NA       NA      NA     NA      NA       NA
72460 NA       NA      5      NA       NA      NA     NA      NA       NA
72461 NA       NA      5      NA       NA      NA     NA      NA       NA
72462 NA       NA      5      NA       NA      NA     NA      NA       NA
72463  1        1      1      NA       NA      NA     NA      NA       NA
72464  1       NA      1      NA       NA      NA     NA      NA       NA

In [112]:
nsfg_df %>% arrange(desc(caseid))

      caseid age_a marstat reldlife religion samesex intvwyear lifprtnr
1     92062  41    1       NA       1        2       2018       9
2     92061  24    1        1       3        2       2018       5
3     92060  37    2        3       2        1       2019       1
4     92059  39    6        3       3        2       2019      39
5     92058  32    6       NA       1        2       2019       6
6     92057  37    6        2       2        2       2018       2
7     92056  49    2       NA       1        3       2018      10
8     92055  20    6        2       3        1       2019       1
9     92054  16    6       NA       1        2       2019       0
10    92053  41    2       NA       1        1       2018       6
11    92052  33    1        2       3        1       2017       5
12    92051  46    6        2       4        1       2017       0
13    92050  19    6       NA       1        1       2019       3
14    92049  45    4        1       3        4       2018      15
15    92048  41    1        1       3        2       2018      25
16    92047  41    6        2       2        1       2017       3
17    92046  49    6       NA       1        4       2018       4
18    92045  27    1        1       3        3       2019       1
19    92044  32    1        2       3        1       2019      20
20    92043  42    2       NA       1        3       2019      20
21    92042  17    6       NA       1        2       2019       0
22    92041  46    1        2       4        3       2018       4
23    92040  45    6        2       3        4       2019       2
24    92039  46    5        2       3        3       2019       1
25    92038  48    3        1       2        4       2018       1
26    92037  47    1        1       4        1       2017       1
27    92036  34    6        1       2        1       2018       4
28    92035  22    6       NA       1        2       2018       1
29    92034  34    4        2       2        2       2018      50
30    92033  32    1        1       2        5       2018       1
⋮     ⋮      ⋮     ⋮       ⋮        ⋮        ⋮       ⋮         ⋮
72435 44     37    1        1       2        5       2002      12
72436 43     41    1        2       2        3       2002       2
72437 40     15    6        1       2        4       2002       0
72438 39     31    6       NA       1        3       2002       6
72439 38     37    1        1       2        3       2002       8
72440 37     16    6        2       2        2       2002       0
72441 36     37    1        2       3        2       2002       3
72442 33     31    6       NA       1        2       2002       5
72443 32     20    6        2       3        4       2002       6
72444 31     44    6        2       3        4       2002      25
72445 28     39    4       NA       1        1       2002      10
72446 25     33    1        3       3        2       2002       5
72447 24     35    4        2       3        5       2002       5
72448 23     42    4        2       2        2       2002       3
72449 22     25    6        1       2        2       2002       0
72450 21     35    1        1       3        2       2002       6
72451 20     15    6        1       3        1       2002       0
72452 19     34    1        1       3        2       2002       1
72453 18     42    1        1       3        4       2002       4
72454 15     32    1       NA       1        4       2002       3
72455 14     36    4        1       3        3       2002       6
72456 13     20    6        1       3        1       2002       0
72457 12     40    4        1       2        4       2002       3
72458  9     15    6       NA       1        2       2002       1
72459  8     23    2        2       3        3       2002       3
72460  7     39    1        1       3        3       2002      10
72461  6     40    1        1       3        4       2002       1
72462  4     36    1       NA       1        2       2002      17
72463  2     20    6        1       3        4       2002       9
72464  1     44    1        2       2        3       2002       5
      timesmar attnd14 fmarit gayadopt lifeprt sxok18 staytog prvntdiv achieve
1      1       NA      1      NA       NA      NA     NA      NA       NA
2      1        1      1      NA       NA      NA     NA      NA       NA
3     NA       NA      5      NA       NA      NA     NA      NA       NA
4     NA       NA      5      NA       NA      NA     NA      NA       NA
5     NA       NA      5      NA       NA      NA     NA      NA       NA
6     NA       NA      5      NA       NA      NA     NA      NA       NA
7      2       NA      3      NA       NA      NA     NA      NA       NA
8     NA        1      5      NA       NA      NA     NA      NA       NA
9     NA        5      5      NA       NA      NA     NA      NA       NA
10    NA       NA      5      NA       NA      NA     NA      NA       NA
11     1       NA      1      NA       NA      NA     NA      NA       NA
12    NA       NA      5      NA       NA      NA     NA      NA       NA
13    NA        2      5      NA       NA      NA     NA      NA       NA
14     1       NA      3      NA       NA      NA     NA      NA       NA
15     4       NA      1      NA       NA      NA     NA      NA       NA
16    NA       NA      5      NA       NA      NA     NA      NA       NA
17    NA       NA      5      NA       NA      NA     NA      NA       NA
18     1       NA      1      NA       NA      NA     NA      NA       NA
19     1       NA      1      NA       NA      NA     NA      NA       NA
20    NA       NA      5      NA       NA      NA     NA      NA       NA
21    NA        1      5      NA       NA      NA     NA      NA       NA
22     1       NA      1      NA       NA      NA     NA      NA       NA
23    NA       NA      5      NA       NA      NA     NA      NA       NA
24     1       NA      4      NA       NA      NA     NA      NA       NA
25     1       NA      2      NA       NA      NA     NA      NA       NA
26     1       NA      1      NA       NA      NA     NA      NA       NA
27    NA       NA      5      NA       NA      NA     NA      NA       NA
28    NA        7      5      NA       NA      NA     NA      NA       NA
29     1       NA      3      NA       NA      NA     NA      NA       NA
30     1       NA      1      NA       NA      NA     NA      NA       NA
⋮     ⋮        ⋮       ⋮      ⋮        ⋮       ⋮      ⋮       ⋮        ⋮
72435  1       NA      1      2         12     3      3       NA       3
72436  1       NA      1      2          2     3      3       NA       3
72437 NA        4      5      2         NA     4      3       NA       1
72438 NA       NA      5      2          6     3      2       NA       3
72439  1       NA      1      3          8     3      2       NA       2
72440 NA        2      5      2         NA     2      2       NA       3
72441  1       NA      1      2          3     2      4       NA       3
72442 NA       NA      5      2          5     5      5       NA       3
72443 NA        1      5      4          6     2      3       NA       2
72444 NA       NA      5      1         25     3      1       NA       1
72445  3       NA      3      2         10     2      2       NA       4
72446  1       NA      1      2          5     2      3       NA       3
72447  1       NA      3      5          5     2      2       NA       5
72448  1       NA      3      2          3     3      2       NA       3
72449 NA       NA      5      3         NA     2      1       NA       4
72450  1       NA      1      5          6     2      2       NA       3
72451 NA        4      5      1         NA     3      2       NA       4
72452  1       NA      1      3          1     3      3       NA       2
72453  2       NA      1      4          4     3      1       NA       1
72454  1       NA      1      3          3     4      3       NA       3
72455  1       NA      3      5          6     3      2       NA       2
72456 NA        1      5      3         NA     4      1       NA       4
72457  1       NA      3      4          3     3      2       NA       4
72458 NA        4      5      2          1     2      1       NA       3
72459 NA        2      5      3          3     2      2       NA       3
72460  4       NA      1      3        998     3      2       NA       2
72461  1       NA      1      4          1     4      4       NA       3
72462  1       NA      1      2         17     3      2       NA       4
72463 NA        1      5      2          9     2      4       NA       1
72464  1       NA      1      3          5     3      3       NA       2

In [98]:
nsfg_df %>% arrange(caseid) %>% filter(age_a >= 18)

      caseid age_a marstat reldlife religion samesex intvwyear lifprtnr
1      1     44    1        2       2        3       2002       5
2      2     20    6        1       3        4       2002       9
3      4     36    1       NA       1        2       2002      17
4      6     40    1        1       3        4       2002       1
5      7     39    1        1       3        3       2002      10
6      8     23    2        2       3        3       2002       3
7     12     40    4        1       2        4       2002       3
8     13     20    6        1       3        1       2002       0
9     14     36    4        1       3        3       2002       6
10    15     32    1       NA       1        4       2002       3
11    18     42    1        1       3        4       2002       4
12    19     34    1        1       3        2       2002       1
13    21     35    1        1       3        2       2002       6
14    22     25    6        1       2        2       2002       0
15    23     42    4        2       2        2       2002       3
16    24     35    4        2       3        5       2002       5
17    25     33    1        3       3        2       2002       5
18    28     39    4       NA       1        1       2002      10
19    31     44    6        2       3        4       2002      25
20    32     20    6        2       3        4       2002       6
21    33     31    6       NA       1        2       2002       5
22    36     37    1        2       3        2       2002       3
23    38     37    1        1       2        3       2002       8
24    39     31    6       NA       1        3       2002       6
25    43     41    1        2       2        3       2002       2
26    44     37    1        1       2        5       2002      12
27    45     18    1        1       3        3       2002       2
28    46     42    1        2       3        3       2002       1
29    49     28    4        1       3        2       2002      15
30    51     32    1        1       3        4       2002      10
⋮     ⋮      ⋮     ⋮       ⋮        ⋮        ⋮       ⋮         ⋮
64322 92031  49    1       NA       1        2       2018      20
64323 92032  47    1        2       2        2       2019       3
64324 92033  32    1        1       2        5       2018       1
64325 92034  34    4        2       2        2       2018      50
64326 92035  22    6       NA       1        2       2018       1
64327 92036  34    6        1       2        1       2018       4
64328 92037  47    1        1       4        1       2017       1
64329 92038  48    3        1       2        4       2018       1
64330 92039  46    5        2       3        3       2019       1
64331 92040  45    6        2       3        4       2019       2
64332 92041  46    1        2       4        3       2018       4
64333 92043  42    2       NA       1        3       2019      20
64334 92044  32    1        2       3        1       2019      20
64335 92045  27    1        1       3        3       2019       1
64336 92046  49    6       NA       1        4       2018       4
64337 92047  41    6        2       2        1       2017       3
64338 92048  41    1        1       3        2       2018      25
64339 92049  45    4        1       3        4       2018      15
64340 92050  19    6       NA       1        1       2019       3
64341 92051  46    6        2       4        1       2017       0
64342 92052  33    1        2       3        1       2017       5
64343 92053  41    2       NA       1        1       2018       6
64344 92055  20    6        2       3        1       2019       1
64345 92056  49    2       NA       1        3       2018      10
64346 92057  37    6        2       2        2       2018       2
64347 92058  32    6       NA       1        2       2019       6
64348 92059  39    6        3       3        2       2019      39
64349 92060  37    2        3       2        1       2019       1
64350 92061  24    1        1       3        2       2018       5
64351 92062  41    1       NA       1        2       2018       9
      timesmar attnd14 fmarit gayadopt lifeprt sxok18 staytog prvntdiv achieve
1      1       NA      1      3          5     3      3       NA       2
2     NA        1      5      2          9     2      4       NA       1
3      1       NA      1      2         17     3      2       NA       4
4      1       NA      1      4          1     4      4       NA       3
5      4       NA      1      3        998     3      2       NA       2
6     NA        2      5      3          3     2      2       NA       3
7      1       NA      3      4          3     3      2       NA       4
8     NA        1      5      3         NA     4      1       NA       4
9      1       NA      3      5          6     3      2       NA       2
10     1       NA      1      3          3     4      3       NA       3
11     2       NA      1      4          4     3      1       NA       1
12     1       NA      1      3          1     3      3       NA       2
13     1       NA      1      5          6     2      2       NA       3
14    NA       NA      5      3         NA     2      1       NA       4
15     1       NA      3      2          3     3      2       NA       3
16     1       NA      3      5          5     2      2       NA       5
17     1       NA      1      2          5     2      3       NA       3
18     3       NA      3      2         10     2      2       NA       4
19    NA       NA      5      1         25     3      1       NA       1
20    NA        1      5      4          6     2      3       NA       2
21    NA       NA      5      2          5     5      5       NA       3
22     1       NA      1      2          3     2      4       NA       3
23     1       NA      1      3          8     3      2       NA       2
24    NA       NA      5      2          6     3      2       NA       3
25     1       NA      1      2          2     3      3       NA       3
26     1       NA      1      2         12     3      3       NA       3
27     1        1      1      4          2     2      1       NA       2
28     1       NA      1      2          1     2      2       NA       3
29     1       NA      3      2         15     2      2       NA       3
30     1       NA      1      3         10     4      3       NA       2
⋮     ⋮        ⋮       ⋮      ⋮        ⋮       ⋮      ⋮       ⋮        ⋮
64322  3       NA      1      NA       NA      NA     NA      NA       NA
64323  1       NA      1      NA       NA      NA     NA      NA       NA
64324  1       NA      1      NA       NA      NA     NA      NA       NA
64325  1       NA      3      NA       NA      NA     NA      NA       NA
64326 NA        7      5      NA       NA      NA     NA      NA       NA
64327 NA       NA      5      NA       NA      NA     NA      NA       NA
64328  1       NA      1      NA       NA      NA     NA      NA       NA
64329  1       NA      2      NA       NA      NA     NA      NA       NA
64330  1       NA      4      NA       NA      NA     NA      NA       NA
64331 NA       NA      5      NA       NA      NA     NA      NA       NA
64332  1       NA      1      NA       NA      NA     NA      NA       NA
64333 NA       NA      5      NA       NA      NA     NA      NA       NA
64334  1       NA      1      NA       NA      NA     NA      NA       NA
64335  1       NA      1      NA       NA      NA     NA      NA       NA
64336 NA       NA      5      NA       NA      NA     NA      NA       NA
64337 NA       NA      5      NA       NA      NA     NA      NA       NA
64338  4       NA      1      NA       NA      NA     NA      NA       NA
64339  1       NA      3      NA       NA      NA     NA      NA       NA
64340 NA        2      5      NA       NA      NA     NA      NA       NA
64341 NA       NA      5      NA       NA      NA     NA      NA       NA
64342  1       NA      1      NA       NA      NA     NA      NA       NA
64343 NA       NA      5      NA       NA      NA     NA      NA       NA
64344 NA        1      5      NA       NA      NA     NA      NA       NA
64345  2       NA      3      NA       NA      NA     NA      NA       NA
64346 NA       NA      5      NA       NA      NA     NA      NA       NA
64347 NA       NA      5      NA       NA      NA     NA      NA       NA
64348 NA       NA      5      NA       NA      NA     NA      NA       NA
64349 NA       NA      5      NA       NA      NA     NA      NA       NA
64350  1        1      1      NA       NA      NA     NA      NA       NA
64351  1       NA      1      NA       NA      NA     NA      NA       NA

Select columns with `select()`:

In [99]:
nsfg_df %>% select(caseid, timesmar)

      caseid timesmar
1     80717  NA
2     80721  NA
3     80722  NA
4     80724   2
5     80732  NA
6     80734   1
7     80735  NA
8     80736  NA
9     80738   1
10    80739   1
11    80740  NA
12    80741  NA
13    80745   1
14    80746  NA
15    80748  NA
16    80749  NA
17    80751  NA
18    80753  NA
19    80757  NA
20    80758  NA
21    80759  NA
22    80762   2
23    80765  NA
24    80767  NA
25    80769   2
26    80770   1
27    80771  NA
28    80774  NA
29    80775   1
30    80777   1
⋮     ⋮      ⋮
72435   363  NA
72436 10759   1
72437  4516   1
72438  8964   1
72439  4671   1
72440  2833  NA
72441  6905   2
72442  7245   1
72443  1181  NA
72444  7748   1
72445   988  NA
72446  8670   1
72447  3665  99
72448  7876  NA
72449  8630   2
72450  2782  NA
72451  8829   1
72452  6139  NA
72453  7879   1
72454 11427  NA
72455 11640  NA
72456  5515  NA
72457  1551  NA
72458  9358   1
72459  2417  NA
72460  1074  NA
72461  8877   1
72462 11658   1
72463  2780   1
72464  5758   1

We can rename the selected columns:

In [102]:
nsfg_df %>% select(id = caseid, times_married = timesmar)

      id    times_married
1     80717 NA
2     80721 NA
3     80722 NA
4     80724  2
5     80732 NA
6     80734  1
7     80735 NA
8     80736 NA
9     80738  1
10    80739  1
11    80740 NA
12    80741 NA
13    80745  1
14    80746 NA
15    80748 NA
16    80749 NA
17    80751 NA
18    80753 NA
19    80757 NA
20    80758 NA
21    80759 NA
22    80762  2
23    80765 NA
24    80767 NA
25    80769  2
26    80770  1
27    80771 NA
28    80774 NA
29    80775  1
30    80777  1
⋮     ⋮     ⋮
72435   363 NA
72436 10759  1
72437  4516  1
72438  8964  1
72439  4671  1
72440  2833 NA
72441  6905  2
72442  7245  1
72443  1181 NA
72444  7748  1
72445   988 NA
72446  8670  1
72447  3665 99
72448  7876 NA
72449  8630  2
72450  2782 NA
72451  8829  1
72452  6139 NA
72453  7879  1
72454 11427 NA
72455 11640 NA
72456  5515 NA
72457  1551 NA
72458  9358  1
72459  2417 NA
72460  1074 NA
72461  8877  1
72462 11658  1
72463  2780  1
72464  5758  1

In [105]:
nsfg_df %>% select(starts_with("age") | ends_with("year"))

      age_a intvwyear
1     31    2018
2     17    2018
3     16    2019
4     49    2019
5     39    2019
6     37    2018
7     17    2019
8     40    2019
9     46    2018
10    40    2019
11    31    2017
12    34    2018
13    32    2019
14    17    2019
15    21    2018
16    17    2019
17    25    2019
18    22    2019
19    28    2019
20    18    2018
21    40    2018
22    45    2019
23    34    2018
24    31    2017
25    39    2018
26    48    2018
27    16    2019
28    26    2019
29    26    2019
30    29    2018
⋮     ⋮     ⋮
72435 19    2002
72436 39    2002
72437 39    2002
72438 43    2002
72439 21    2002
72440 42    2002
72441 41    2002
72442 38    2002
72443 18    2002
72444 29    2002
72445 35    2002
72446 29    2002
72447 20    2002
72448 18    2002
72449 35    2002
72450 21    2002
72451 41    2002
72452 18    2002
72453 28    2002
72454 21    2002
72455 20    2002
72456 18    2002
72457 23    2002
72458 27    2002
72459 21    2002
72460 15    2002
72461 37    2002
72462 28    2002
72463 24    2002
72464 28    2002

In [106]:
nsfg_df %>% select(contains("age"))

      age_a
1     31
2     17
3     16
4     49
5     39
6     37
7     17
8     40
9     46
10    40
11    31
12    34
13    32
14    17
15    21
16    17
17    25
18    22
19    28
20    18
21    40
22    45
23    34
24    31
25    39
26    48
27    16
28    26
29    26
30    29
⋮     ⋮
72435 19
72436 39
72437 39
72438 43
72439 21
72440 42
72441 41
72442 38
72443 18
72444 29
72445 35
72446 29
72447 20
72448 18
72449 35
72450 21
72451 41
72452 18
72453 28
72454 21
72455 20
72456 18
72457 23
72458 27
72459 21
72460 15
72461 37
72462 28
72463 24
72464 28

Add new columns with `mutate()`:

In [111]:
nsfg_df %>% mutate(age_days = age_a * 365) %>%  head()

  caseid age_a marstat reldlife religion samesex intvwyear lifprtnr timesmar
1 80717  31    2       NA       1        1       2018      15       NA
2 80721  17    6        2       3        2       2018       1       NA
3 80722  16    6       NA       1        2       2019       2       NA
4 80724  49    4        2       4        3       2019      50        2
5 80732  39    6       NA       1        1       2019       0       NA
6 80734  37    1        2       2        2       2018       3        1
  attnd14 fmarit gayadopt lifeprt sxok18 staytog prvntdiv achieve age_days
1 NA      5      NA       NA      NA     NA      NA       NA      11315
2  6      5      NA       NA      NA     NA      NA       NA       6205
3  2      5      NA       NA      NA     NA      NA       NA       5840
4 NA      3      NA       NA      NA     NA      NA       NA      17885
5 NA      5      NA       NA      NA     NA      NA       NA      14235
6 NA      1      NA       NA      NA     NA      NA       NA      13505

Summarise values with `summarise()`:

In [110]:
nsfg_df %>% summarise(age_mean = mean(age_a, na.rm = TRUE))

  age_mean
1 29.25337

## Merging/Joining DataFrames 

We can [join dataframes](https://dplyr.tidyverse.org/reference/mutate-joins.html) with the `dplyr` library too. We can do this with:

- `inner_join`
- `left_join`
- `right_join`
- `full_join`

To put this in practice, we create a left and right subsets from our original NSFG data. We also introduce the `slice` function to get rows  by position:

In [122]:
df_left <- nsfg_df %>% select(1:4) %>% slice(1:5)
df_left

  caseid age_a marstat reldlife
1 80717  31    2       NA
2 80721  17    6        2
3 80722  16    6       NA
4 80724  49    4        2
5 80732  39    6       NA

In [129]:
df_right <- nsfg_df %>% select("caseid", "age_a", 5:7) %>% slice(1:3, 8:10)
df_right

  caseid age_a religion samesex intvwyear
1 80717  31    1        1       2018
2 80721  17    3        2       2018
3 80722  16    1        2       2019
4 80736  40    1        1       2019
5 80738  46    3        2       2018
6 80739  40    1        1       2019

In [135]:
df_inner <- inner_join(df_left, df_right, by = "caseid")
df_inner

  caseid age_a.x marstat reldlife age_a.y religion samesex intvwyear
1 80717  31      2       NA       31      1        1       2018
2 80721  17      6        2       17      3        2       2018
3 80722  16      6       NA       16      1        2       2019

In [130]:
inner_join(df_left, df_right, by = c("caseid", "age_a"))

  caseid age_a marstat reldlife religion samesex intvwyear
1 80717  31    2       NA       1        1       2018
2 80721  17    6        2       3        2       2018
3 80722  16    6       NA       1        2       2019

In [131]:
left_join(df_left, df_right, by = "caseid")

  caseid age_a.x marstat reldlife age_a.y religion samesex intvwyear
1 80717  31      2       NA       31       1        1      2018
2 80721  17      6        2       17       3        2      2018
3 80722  16      6       NA       16       1        2      2019
4 80724  49      4        2       NA      NA       NA        NA
5 80732  39      6       NA       NA      NA       NA        NA

In [132]:
right_join(df_left, df_right, by = "caseid")

  caseid age_a.x marstat reldlife age_a.y religion samesex intvwyear
1 80717  31       2      NA       31      1        1       2018
2 80721  17       6       2       17      3        2       2018
3 80722  16       6      NA       16      1        2       2019
4 80736  NA      NA      NA       40      1        1       2019
5 80738  NA      NA      NA       46      3        2       2018
6 80739  NA      NA      NA       40      1        1       2019

In [133]:
full_join(df_left, df_right, by = "caseid")

  caseid age_a.x marstat reldlife age_a.y religion samesex intvwyear
1 80717  31       2      NA       31       1        1      2018
2 80721  17       6       2       17       3        2      2018
3 80722  16       6      NA       16       1        2      2019
4 80724  49       4       2       NA      NA       NA        NA
5 80732  39       6      NA       NA      NA       NA        NA
6 80736  NA      NA      NA       40       1        1      2019
7 80738  NA      NA      NA       46       3        2      2018
8 80739  NA      NA      NA       40       1        1      2019

There are two additional ways of joining data with `semi_join` and `anti_join`. These functions are considered as filtering joins. The difference in here is that `semi_join` does not duplicate rows. This type of joining is helpful to identify mismatches between dataframes:

In [134]:
df_semi_join <-  semi_join(df_left, df_right, by = "caseid")
df_semi_join

  caseid age_a marstat reldlife
1 80717  31    2       NA
2 80721  17    6        2
3 80722  16    6       NA

Look at the difference between the `df_inner` variable, obtained from and `inner_join`:

In [137]:
df_inner

  caseid age_a.x marstat reldlife age_a.y religion samesex intvwyear
1 80717  31      2       NA       31      1        1       2018
2 80721  17      6        2       17      3        2       2018
3 80722  16      6       NA       16      1        2       2019

With `semi_join` we only get the rows that matched the join conditions whereas `inner_join` returns the rows matched plus the columns from both datasets. 

The `anti_join` has a similar behaviour, but it returns the unmathced rows:

In [138]:
anti_join(df_left, df_right, by="caseid")

  caseid age_a marstat reldlife
1 80724  49    4        2
2 80732  39    6       NA